html{
    background-color:#A18D78;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}

h1{
    color: #A18D78;
    background: linear-gradient(#C87F28, #FFFFFF);
      text-decoration: underline;
    font-size: 55px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
}

a.buttonBar{
     background: linear-gradient(#C87F28, #FFFFFF);
    color: black;
    font-size: 20px;
    border: 0;
    border-radius: 20px;
    padding: 2px 7px;    
}
a.buttonBar:hover {
background-color: #CDAF8D;
    color: #CDCDCD;
}

body{
    text-align: center;
    color:black;
    font-family: 'Quicksand', sans-serif;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
 div.myheader {
    font-size: 80px;
     font-family:fantasy; 
     color:darkorange;
}



div.transbox {
  margin: 0px;
  background-color: #CDAF8D;
border-radius: 60px;
}

footer {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 0px;
}

a {
    color: white;
}

img {
    border: 0;
}

table, th, td {
  border: 1px solid black;
}

table {
  width:50%;
text-align: center;
margin-left: auto;
  margin-right: auto;
    
}

th {
  height: 50px;
}
div.googleForm {
	margin-left: auto;
	margin-right: auto;
}

@media print{
    
html{
    background-color: white;
    }
    
header,
    footer {
        display: none;
    }
    img {
        display: none;
    }
}